// Fonts
$font-inter: "Inter", sans-serif;
$font-island: "Island Moments", cursive;
$font-jeju: "JejuMyeongjo", serif;
$font-jost: "Jost", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
// Font weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$color-white: #ffffff;
$color-black: #000000;
$color-secondary: #ca8f4c;
$color-primary: #012350;
