@use "index" as *;
.button {
	background-color: #100a05;
	border: 2px solid $color-secondary;
	color: $color-white;
	padding: 16px 20px;
	@include flex-center;
	height: 100%;
	max-height: 59px;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
	&:hover {
		background-color: $color-secondary;
	}
}
