@use "variables";
@use "mixins";
.header {
	position: absolute;
	top: 32px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	background: rgba(variables.$color-black, 0.4);
	z-index: 100;
	@include mixins.container;
	padding: 32px;
	&__inner {
		@include mixins.flex-center;
	}
}
