/* connect-with-us Section Styles */

.connect-with-us-section {
	@apply py-[100px];
}

.connect-with-us-container {
	@apply container space-y-4 sm:space-y-16;
}

.connect-with-us-header {
	@apply text-center max-w-[448px] mx-auto;
}

.connect-with-us-title {
	@apply text-[32px] uppercase mb-2.5 leading-none;
}

.connect-with-us-description {
	@apply opacity-65;
}

.connect-with-us-hashtag {
	@apply text-center text-[12px] mt-4 sm:mt-8;
}
/* connect-with-us Slider */
.connect-with-us-slider {
	position: relative;
	overflow: hidden;
	@apply max-sm:m-0;
}

.connect-with-us-slider .swiper-slide {
	transition: all 0.3s ease;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	@apply max-lg:scale-75;
}
.connect-with-us-slider .swiper-slide-active{
	@apply max-lg:scale-100;
}

.connect-with-us-slider .swiper-slide img {
	width: 100%;
	height: auto;
	object-fit: contain;
}
