/* Events Section Styles */

.events-section {
	@apply py-[100px] overflow-hidden;
}

.events-container {
	@apply  space-y-16 container;
}

.events-header {
	@apply text-center max-w-[448px] mx-auto;
}

.events-title {
	@apply text-[32px] uppercase mb-2.5 leading-none;
}

.events-description {
	@apply opacity-65;
}

/* Swiper slider styles */
.events-swiper {
	@apply w-full overflow-hidden relative ;
}
.swiper-mobile .swiper-wrapper{
	@apply lg:grid lg:grid-cols-3 lg:gap-4;
}
.event-item {
	@apply flex flex-col h-auto;
	width: 100%;
	transition-property: all !important;
	transition-duration: 400ms;
	transition-timing-function: ease-in-out;
}

/* For swiper slides */
.swiper-slide {
	height: auto !important;
}

.event-image {
	@apply w-full object-contain max-h-[470px];
}

.event-content {
	@apply mt-9 text-center space-y-4;
}

.event-title {
	@apply uppercase;
}

.event-details {
	@apply opacity-65;
}

.event-date {
	@apply flex gap-4 items-center mb-5;
}

.event-date-icon {
	@apply w-[18px] h-[20px];
}

.event-date-text {
	@apply text-[12px] font-bold tracking-widest uppercase;
}

.event-text {
	@apply opacity-65;
}

.button-prev,
.button-next {
	@apply absolute max-lg:-bottom-10 lg:top-1/2 translate-y-0 lg:-translate-y-1/2 lg:scale-150 bg-white rounded-full p-2 flex items-center justify-center text-primary z-10 cursor-pointer max-lg:m-0;
}

.button-prev {
	@apply left-10 lg:left-14;
}

.button-next {
	@apply right-10 lg:right-14;
}
